{% extends "base_generic.html" %}

{% block content %}
    <h1>Lista de pacientes</h1>
    
    <ul>
        {% for profissional in profissionais %}
            <li>{{ profissional.nome }}
                <a href="{% url 'visualizar_profissional' profissional.id %}">
                    visualizar
                </a>
                <a href="{% url 'editar_profissional' profissional.id %}">
               editar
                </a>
                <a href="{% url 'deletar_profissional' profissional.id %}">
                    deletar</a>
            </li>
        {% empty %}
            <li>Não há profissional cadastrados.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'registrar_profissional' %}">Adicionar Novo Profissional</a>

{% endblock %}